# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Open-Source Tools for Data Science
- Libraries for Data Science
- APIs
- Jupyter Kernels
- Jupyter Architecture

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. SciPy
3. NumPy
4. Scikit-learn

| Data Science Tools |
| ----------- |
| RStudio |
| Apache Spark |
| TensorFlow |
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
hours = 200/60
hours

3.3333333333333335

## Author
Mik Bar